RewriteEngine on
RewriteCond %{HTTP_USER_AGENT} “.*Safari.*” [OR]
RewriteCond %{HTTP:Accept-Encoding} !gzip
RewriteRule (.*)\.gz$ $1\.js [L]

AddType “text/javascript;charset=UTF-8″ .gz
AddEncoding gzip .gz
